.layout{
    position: relative;
    background: var(--white);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 0 auto;
}

@media all and (min-width: 769px) and (max-width: 1024px) {
    .layout{

    }
}
@media all and (min-width: 526px) and (max-width: 769px) {

}